html
   head
   body
      h2 循环分支
      h2 for each
      -var course = {name:'zfpx',age:6}
      -for(var v in course)
      p=course[v]

      h2 each
      each value,key in course
         p #{key} #{value}

      h2 array
      -var courses = ['javascript','jade']
      each item in courses
         p=item

