//
   1.模板的继承可以通过block extends实现
   2.可以定义也可以多次调用
   3 子文档里的内容可以覆盖父文档里的内容
doctype html
html
   head
   body
      h3 继承
      block desc
         p 我是一个小学生
      block desc
      p 高高兴兴上学去
      block desc

